
# Core app framework
streamlit>=1.32.0
streamlit-aggrid

# Data handling
pandas>=2.0.0
openpyxl>=3.1.2   # Excel support for pandas

# Utilities
numpy>=1.25.0

# Optional: visualization inside Streamlit
matplotlib>=3.8.0
plotly>=5.18.0
